 .breakingNews {
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 0 10px;
    text-align: left;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
 }

 .breakingText {
    font-weight: bold;
    text-decoration: underline;
    justify-content: space-evenly;
 }

 .separator {
    font-weight: bold;
 }

 .breakinNews p {
    margin:0;
    animation: scrollNews 15s linear infinite;
    white-space:nowrap;
 }

 @keyframes scrollNews {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }