@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.header {
    align-items: center;
    display: flex;
    padding: 24px 48px;
}

.pageTitle {
    font-family: "UnifrakturMaguntia", serif;
  font-weight: 400;
  font-style: normal;
    flex: 1 0 60%;
    font-size: 4rem;
    text-align: center;
}

.phone {
    border: 1px solid #000;
    padding: 8px;
}