.contact {
    /* display: inline-block; */
    padding: 10px 20px;
    border: 2px solid #f3f6f8;
    border-radius: 8px;
    background-color: black;
}

.contact a {
    color: white;
}


.phone-link {
    text-decoration: none;
    color: #e1e6ec;
    font-size: 18px;
    font-weight: bold;
  }
  
  .contact:hover {
    background-color: red;
  }
  
  .contact:hover .phone-link {
    color: white;
  }